#      _            _                                                                            _
#   __| | ___   ___| | _____ _ __       ___ ___  _ __ ___  _ __   ___  ___  ___  _   _ _ __ ___ | |
#  / _` |/ _ \ / __| |/ / _ \ '__|____ / __/ _ \| '_ ` _ \| '_ \ / _ \/ __|/ _ \| | | | '_ ` _ \| |
# | (_| | (_) | (__|   <  __/ | |_____| (_| (_) | | | | | | |_) | (_) \__ \  __/| |_| | | | | | | |
#  \__,_|\___/ \___|_|\_\___|_|        \___\___/|_| |_| |_| .__/ \___/|___/\___(_)__, |_| |_| |_|_|
#                                                         |_|                    |___/

services:
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale-sidecar
    hostname: adguard-dns
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_EXTRA_ARGS=--accept-dns=false
    volumes:
      - ./tailscale_state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
      - ./certs:/certs
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    command: >
      sh -c "tailscaled &
      until tailscale status; do sleep 2; done;
      cd /certs;
      tailscale cert ${DNS_ADDR};
      wait"
    restart: unless-stopped

  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    network_mode: "service:tailscale" 
    volumes:
      - ./workdir:/opt/adguardhome/work
      - ./confdir:/opt/adguardhome/conf
      - ./certs:/certs:ro
    depends_on:
      - tailscale
    restart: unless-stopped
